<div class="animated fadeIn">
    <div class="row">
	    <div class="col-sm-6 col-md-8">
			<div class="card card-accent-info">
				<div class="card-header" style="background:white;">
					<div class="row">
						<div class="col-lg-4">
							<p style="margin:0;">Auxiliar Administrativo</p>
						</div>
						<div class="col-lg-4">
							<p style="margin:0;" class="text-muted text-center">Auxiliar Operacional</p>
						</div>
						<div class="col-lg-4">
							<p style="margin:0;" class="text-muted text-right">v123456</p>
						</div>
					</div>
				</div>
				<div class="card-block">
					<p style="margin:0;"><strong>Descrição</strong></p>
					<p>Considerada uma das principais empresas de varejo moda feminina no Brasil, o Grupo Soma, composto pela Animale, Farm. A.Brand, FYI, Fabula, Foxcom, Mas Animale e Cris Barros, orgulha-se por integrar marcas que traduzem estilo de vida, comportamento, sofisticação, aliados ao conceito de exclusividade e contemporâneidade.</p>
					<p>O Grupo hoje tem em torno de 4.000 funcionários e é constituido por uma estrutura de, aproximadamente, 170 lojas próprias, localizadas nas principais cidades brasileiras. Além de ser uma grande plataforma de varejo do país, a empresa desenvolve e cresce constantemente nos canais de Atacado e E-commerce.</p>
					<p>O nosso Grupo, em constante expansão, busca os melhores profissionais do mercado e convida você para fazer parte dessa história de sucesso.</p>
					<p style="margin:0;"><strong>Requisitos</strong></p>
					<p style="margin:0;">Ensino medio completo;</p>
					<p style="margin:0;">Facilidade e empatia no atendimento ao cliente;</p>
					<p style="margin:0;">Dinamismo e agilidade;</p>
					<p>Experiencia em atendimento;</p>
					<p style="margin:0;"><strong>Benefícios</strong></p>
					<p style="margin:0;">Vale Transporte;</p>
					<p style="margin:0;">Vale Refeição</p>
					<p style="margin:0;">Plano de Saúde</p>
					<p style="margin:0;">Plano Odontológico</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="card card-accent-info">
				<div class="card-block">
					<div style="padding:0 0 5px;border-bottom:1px solid #eee">
						<i class="icon-people text-muted" style="margin-right: 10px"></i> <strong>13</strong>
					</div>
					<div style="padding:5px 0;border-bottom:1px solid #eee">
						<i class="icon-user-following text-muted" style="margin-right: 10px"></i> <strong>2</strong>
					</div>
					<div style="padding:5px 0;border-bottom:1px solid #eee">
						<i class="icon-calendar text-muted" style="margin-right: 10px"></i> <strong>22/11/2017 <span class="text-muted">até</span> 22/02/2018</strong> 
					</div>
					<div style="padding:5px 0;border-bottom:1px solid #eee">
						<strong class="text-muted" style="margin-right: 10px">R$</strong> <strong>1.330,00</strong>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>