<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-home"></i> In&iacute;cio</a>
            </li>
            <!-- CURRICULO -->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.incluir')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.incluir')}" href="#"><i class="icon-doc"></i> Curr&iacute;culo</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.incluir"><i class="icon-plus"></i> Incluir</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-note"></i> Alterar</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-close"></i> Excluir</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.visualizar"><i class="icon-eye"></i> Visualizar</a>
                    </li>
                </ul>
            </li>

            <!-- Oportunidade -->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-login"></i> Oportunidade</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-plus"></i> Incluir</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-note"></i> Alterar</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-close"></i> Excluir</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-eye"></i> Visualizar</a>
                    </li>
                </ul>
            </li>

            <!-- PROCESSO SELETIVO -->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-user-following"></i> Processo seletivo</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-plus"></i> Incluir</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-note"></i> Alterar</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-close"></i> Excluir</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-eye"></i> Visualizar</a>
                    </li>
                </ul>
            </li>
            <!-- AGENDAMENTO -->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-event"></i> Agendamento</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-plus"></i> Incluir</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-note"></i> Alterar</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-close"></i> Excluir</a>
                    </li>
                    <li class="nav-item" style="margin-left:2rem">
                        <a class="nav-link" ui-sref-active="active" ui-sref="#"><i class="icon-eye"></i> Visualizar</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
