<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RS UVA">
    <meta name="author" content="Bruno Sobral">
    <meta name="keyword" content="recrutamento selecao curriculo uva laboratorio desenvolvimento software">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>R&S UVA - Recrutamento e Seleção</title>

    <!-- Main styles for this application -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

    <!-- Interface -->
    <ui-view></ui-view>

    <!-- Bootstrap -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- AngularJS plugins -->
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>

    <!-- Scripts da Aplicação-->

    <script src="js/app.js"></script>

    <script src="js/routes.js"></script>

    <script src="js/demo/routes.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

</body>

</html>
